body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Times New Roman', 'Times', 'serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3338FF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Times New Roman', 'Times', 'serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Times New Roman', 'Times', 'serif';
    border-bottom: 2px solid #9f9f9f;
}
h3 {
    font-size: 1.5em;
    font-family:'Times New Roman', 'Times', 'serif';
}

h4 {
    font-size: 1.2em;
    line-height: 1em;
    font-family:'Times New Roman', 'Times', 'serif';
    color: #333;
}

p {
    font-size: 1em;
    line-height: 1em;
    font-family:'Times New Roman', 'Times', 'serif';
    color: #333;
}

table {
    font-family:'Times New Roman', 'Times', 'serif';
    border-collapse: collapse;
    width: 100%;    
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* The sidebar menu */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PP Eiko';
  transition: all.2s ease-out;
}

html{
  scroll-behavior: smooth;
}

.sidesection{
  height: 500vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.sidesection section{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  background: #E3E0D8;
  color: #211C19;
  text-transform: uppercase;
}

/* MENU START HERE */

.current{
  font-weight: 500;
  color: rgba(33,28,25,1)!important;
}

.progress{
  position: fixed;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
}

.progress ul{
  list-style: none;
  height: 200px;
  /*width: 80px;*/
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-flow: column;
  position: relative;
}

.progress ul li{
  z-index: 1;
}

.progress ul li a{
  
  text-decoration: none;
  width: 100%;
  font-weight: 500;
  /*background: white;*/
  color: rgba(33,28,25,0.6);
  /*border: 1px solid #211C19;
  border-radius: 12px;
  padding: 8px;*/
  letter-spacing: 1px;
}

.progress ul li a:hover{
  color: rgba(33,28,25,1);
}

ul .sideline{
  position: absolute;
  top: 10px;
  left: 25px;
  height: 0px;
  width: 4px;
  background: #514A46;
  border-radius: 20px;
  left: -25px;
}
